/vendor/
/node_modules/

.env
.env.backup
.env.local
.env.*.backup

/public/storage
/storage/*.key
/storage/app/*
/storage/framework/*
/storage/logs/*
!storage/app/public/

npm-debug.log
yarn-error.log

/public/hot
/public/storage
/public/mix-manifest.json

.idea
.vscode
.phpunit.result.cache

composer.phar
Homestead.json
Homestead.yaml
vendor/
node_modules/
.env
